# Exclude Databricks files
notebooks_databricks/
requirements_databricks.txt

# Prevent copying Docker artifacts into the image
*.tar
*.img
*.iso

# Ignore local config files
.env
*.env
.vscode/
__pycache__/
*.pyc

# Ignore virtual environments
venv*/
.env/
.venv/

# Ignore dataset folders (optional if they're large or private)
data/
results/

# Ignore Git and OS clutter
.git
.gitignore
.gitattributes
.DS_Store